html(ng-app='app')
  meta(name='viewport' content='width=device-width, user-scalable=no')
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css')

  block styles
    link(rel='stylesheet' href='docs/vendor.css')

body(ng-controller='IndexController as controller')
  h2 angular-mn-password
  include github-corner

  .mn-layout-fullscreen.mn-layout-centered
    .mn-layout-container
      mn-form.mn-layout-column.mn-layout-sm-row
        mn-password.flex#password(placeholder='password' ng-model='controller.credentials.password')
        mn-password.flex#confirm-password(placeholder='confirm password' ng-model='controller.passwordConfirm')
        //- button.mn-button submit

  .docs.mn-layout-container
    mn-code.sh.
      npm install --save angular-mn-password

    p And bundle dependencies and main files in <strong>dist/</strong> with your preferred tool.

    h3 usage
    mn-code.js.
      // add dependency in you module
      angular.module('app', [
        'mn-password'
      ])

    p And then, in your html, you can use the tag <strong>mn-password</strong> with attr <strong>ng-model</strong>

    mn-code.html.
      <mn-password placeholder="Password" ng-model='password'></mn-password>

    p For more details check <a href="https://github.com/minimalist-components/mn-password">mn-password docs</a>.



  block scripts
    script(src='docs/vendor.js')
    script(src='dist/angular-mn-password.js')

  script.
    angular.module('app', [
      'mn-password',
    ])

    angular
      .module('app')
      .controller('IndexController', IndexController);

    function IndexController() {
      this.credentials = {
        password: undefined
      }
    }

